<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>NotePlus (plus sign here)</title>
</head>
<body>

	 <!--Error Meeesages-->
                        <% if (locals.messages.errors) { %>
                            <% messages.errors.forEach( el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                            <% }) %>    
                        <% } %>
                        <% if (locals.messages.info) { %>
                            <% messages.info.forEach( el => { %>
                                <div class="alert alert-info"><%= el.msg %></div>
                            <% }) %>    
                        <% } %>
                        <!---->
   <header>
  <h1>Create Your NotePlus Account</h1>
</header>

<div class="neu-card">
<form action="/signup" method="POST">

  <input type="text" name="userName" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirmPassword" placeholder="Confirm Password">

  <input type="submit" value="Signup">

</form>

<a href="/">Already have an account? Login</a>
</div>

   
</body>
</html>